/******************************************************************GENERAL*********************************************************************************/

body {
    background: url(../img/bg_image.png) repeat center fixed;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/******************************************************************Hero*********************************************************************************/


/*
.hero {
    position: relative;
    width: 100%;
}
*/

.main {
    height: 410px;
    background-color: #800080;
    position: relative;
    /*
    width: 300px;
    right: 20%;
*/
    /*    left: 35%;*/
    /*    width: 500px;
    */
    margin-top: 10%;
    border: 1px solid white;
    border-radius: 10px;
}
.button.large {
    font-size: 1.25rem;
    margin-left: 50%;
    margin-top: 4%;
    border-radius: 10px;
}
hr {
    width: 100%;
    height: 1px;
    background: #fff
}
.loginz {
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 2em;
}
.label_heading {
    color: white;
    margin-top: 9%;
    font-size: 1.75rem;
}
.button {
    background: #62ba17;
}
.button:hover {
    background: #800080;
    border: 1px solid white;
}

/******************************************************************FORM_BODY*********************************************************************************/
