/******************************************************************GENERAL*********************************************************************************/

body {
    background: url(../img/bg_image.png) repeat center fixed;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/******************************************************************Hero*********************************************************************************/

.hero {
    position: relative;
    width: 100%;
}
.main {
    background-color: #800080;
    position: absolute;
    /*
    width: 300px;
    right: 20%;
*/
    left: 35%;
    width: 30%;
    margin-top: 10%;
    border: 1px solid white;
}
.button.large {
    font-size: 1.25rem;
    margin-left: 39%;
    margin-top: 4%;
}
label {
    font-size: 1.875rem;
}
.button {
    background: #62ba17;
}
@media screen and (max-width: 700px) {
    main {
        background-color: #800080;
        /*        position: absolute;*/
        /*
    width: 300px;
    right: 20%;
*/
        left: 0%;
        width: 100%;
        margin-top: 10%;
        border: 1px solid white;
    }
}
