{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Complaint Hub- Exeat Application{% endblock %}
{% block bdclss %}home_body{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<h1 style="text-align: center; margin-bottom: 10%; margin-top: 10%;">Student Exeat Application Form</h1>

    <section>
        <form method="POST" action="">
            {{ form.non_field_errors }}
            {% csrf_token %}
            <div class="row">
                <div class="medium-6 columns">
                    {{ form.department.errors }}
                    <label>Department
                        {{ form.department }}
                    </label>
                </div>
                <div class="medium-6 columns">
                    {{ form.level.errors }}
                    <label>Level
                        {{ form.level }}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    {{ form.exeat_type.errors }}
                    <label>Exeat Type
                        {{ form.exeat_type }}
                    </label>
                </div>
                <div class="medium-6 columns">
                    {{ form.destination.errors }}
                    <label>Destination
                        {{ form.destination }}
                    </label>
                </div>
            </div>
            {{ form.application.errors }}
            <label>
                Application
                {{ form.application }}
            </label>

            <div class="row">
                <div class="medium-12 columns">
                    {{ form.parent_contact.errors }}
                    <label>Parent's Contact
                        {{ form.parent_contact }}
                    </label>
                </div>
            </div>
            <button style="margin-left:1rem" type="submit" class="success button" id="sendButton">Submit</button>
        </form>

    </section>
{% endblock %}