{% extends 'staff_base.html' %}
{% load staticfiles %}
{% block title %}Complaint Hub- Exeat Applications{% endblock %}
{% block bdclss %}home_body{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    <h1 style="text-align: center; margin-bottom: 10%; margin-top: 10%;">Student Exeat Application Resolution Form</h1>


    <h3>This are the pending applications for student validation.</h3>

{% for complaint in complaints %}
    <div style="border: 1px solid black; margin-bottom:5%; padding: 5%;">
    <p>Name: {{ complaint.user.full_name }}</p>
    <p>Level: {{ complaint.level }}</p>
    <p>Department: {{ complaint.department }}</p>
    <p>Exeat Type: {{ complaint.exeat_type }}</p>
    <p>Destination: {{ complaint.destination }}</p>
    <p>Application: {{ complaint.application }}</p>
    <p>Parent's Contact: {{ complaint.parent_contact }}</p>
    <hr style="max-width:100%">
    </div>
{% endfor %}


{% endblock %}