{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Complaint Hub{% endblock %}
{% block bdclss %}acad_body{% endblock %}
{% block header %}{% endblock %}
{% block css %}
<style>
    p {
        font-size: 1.5rem;
        line-height: 2.6;
        color: black;
    }

    h2 {
        margin: 5% auto;
        color: black;
    }

</style>
{% endblock %}

{% block content %}
    <section class=" hero">
        <div class="row">
            <div class="small-12 medium-6 small-centered large-centered columns contactus">
                <h2>To contact us&#58;</h2>
                <p><strong>Office&#45;</strong>B205 CDS building</p>
                <p><strong>Email&#45; </strong>complain&#64;cu.edu.ng</p>
                <p><strong>Phone&#45;</strong>+234 803 123 1232</p>
            </div>
        </div>


    </section>
{% endblock %}
