{% extends 'staff_base.html' %}
{% load staticfiles %}
{% block title %}Complaint Hub- Portal Issues{% endblock %}
{% block bdclss %}home_body{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<h1 style="text-align: center; margin-bottom: 10%; margin-top: 10%;">Student Portal Issues Resolution Form</h1>


    <h3>This are the pending requests for student validation.</h3>

{% for complaint in complaints %}
    <div style="border: 1px solid black; margin-bottom:5%; padding: 5%;">
    <p>Name: {{ complaint.user.full_name }}</p>
    <p>Matric: {{ complaint.user.matric }}</p>
    <p>Level: {{ complaint.level }}</p>
    <p>Department: {{ complaint.department }}</p>
    <p>Program: {{ complaint.program }}</p>
    <p>Semester: {{ complaint.semester }}</p>
    <p>Session: {{ complaint.session }}</p>
    <p>Course: {{ complaint.course }}</p>
    <p>Request: {{ complaint.request }}</p>
    <p>Lecturer: {{ complaint.course_lecturer }}</p>
    <hr style="max-width:100%">
    </div>
{% endfor %}

{% endblock %}